html, body{
    height: 100%;
}
body {
    background-image: url('../background.png') ;
    background-position: center top;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
}

div, body{
    margin: 0;
    padding: 0;
}

.wrapper-top{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.logo{
    max-width: 40%;
    margin: 1rem 7%;
}

a{
    display: block;
}

.logo-img{
    display: block;
    max-height: 100%;
    max-width: 100%;
    flex-grow: 0;
}

.top-profile{
    display: flex;
    flex-wrap: nowrap;
    margin-right: 7%;
    justify-content: flex-end;
}

.top-profile .avatar{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.top-profile .username{
    color: white;
    font-family: Arial;
    align-self: center;
    white-space: nowrap;
    -webkit-text-stroke: 0.9px #000;
    margin: 0;
    padding: 0;
    /*TODO: АДДАПТИВ ПОД РАЗНЫЕ ЭКРАНЫ*/
    font-size: 1rem;
}

.top-profile .wrapper-avatar{
    max-width: 40%;
    min-width: 30px;
    align-self: center;
    flex-basis: content;
}

.wrapper-content{
    margin: 0 10% 10% 10%;
}

.wrapper-content-menu{
    margin-left: 10px;
    display: flex;
    max-width: max-content;
    border-width:2px;
    border-style: solid;
}

.main-content-type{
    padding: 0.6rem;
    background-color: #848484;
}

.main-content-type a{
    text-decoration: none;
    color: black;
}

.main-content-type-active{
    background-color: white;
}

.main-content-type + .main-content-type{
    border-left-width:2px;
    border-left-style: solid;
}

.wrapper-main-content{
    background: white;
    min-height: 400px;
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.main-conent{
    margin-bottom: 5%;
    align-self: center;
}

.preview-image{
    max-height: 500px;
    overflow: hidden;
}

.preview-image img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}