<template>
    <div class="main-conent">
        <div class="preview-image">
            <img v-bind:src="content.preview_image">
        </div>
        <h2>{{content.name}}</h2>
        <h3>{{content.title}}</h3>
        <hr>
    </div>
</template>

<script>
    export default {
        name: "MainNews",
        props: ['content'],
        data() {
            return {}
            }
    }
</script>

<style scoped>

</style>