<template>
    <div class="wrapper-main-content"><main-news v-for="news_obj in news" :key="news_obj.id"  v-bind:content="news_obj"></main-news></div>
</template>

<script>
    import MainNews from "./MainNews";
    export default {
        name: "MainContent",
        components: {MainNews},
        data() {
            return {
                news:
                    [
                        {
                            "id": 6,
                            "name": "Тестовая статья 1",
                            "preview_image": require("@/assets/defalut_news.jpg"),
                            "preview_video": null,
                            "title": "Описание статьи",
                            "text": "<p>Описание статьи</p>",
                            "publish_date": "2020-03-24T15:41:05+05:00",
                            "is_main": false,
                            "is_important": false,
                            "category": "news",
                            "author": 2
                        },
                        {
                            "id": 7,
                            "name": "Тестовая статья 2",
                            "preview_image": require("@/assets/defalut_news.jpg"),
                            "preview_video": null,
                            "title": "Описание статьи",
                            "text": "Описание статьи",
                            "publish_date": "2020-03-24T15:41:05.484786+05:00",
                            "is_main": false,
                            "is_important": false,
                            "category": "news",
                            "author": 2
                        },
                        {
                            "id": 8,
                            "name": "Тестовая статья 3",
                            "preview_image": require("@/assets/defalut_news_shir.jpg"),
                            "preview_video": null,
                            "title": "Описание статьи",
                            "text": "Описание статьи",
                            "publish_date": "2020-03-24T15:41:05.489787+05:00",
                            "is_main": false,
                            "is_important": false,
                            "category": "news",
                            "author": 2
                        }

                ]
            }},
    }
</script>

<style scoped>

</style>