<template>
    <div class="top-profile">
        <h2 class="username">{{username}}</h2>
        <div class="wrapper-avatar">
            <img class="avatar" v-bind:src=avatar>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TopProfile",
        data() {
            return {
                username: "User Name",
                avatar: require("@/assets/default_ava.png")
            }},
    }
</script>

<style scoped>

</style>