<template>
    <div id="app">
        <div class="wrapper-top">
            <div class="logo">
                <img class='logo-img' src="@/assets/logo.png">
            </div>
            <top-profile/>
        </div>

        <div class="wrapper-content">
            <div class="wrapper-content-menu">
                <div class="main-content-type main-content-type-active">
                    <a href="/">Новости</a>
                </div>
                <div class="main-content-type">
                    <a href="/">Блоги</a>
                </div>
                <div class="main-content-type">
                    <a href="/">Форум</a>
                </div>
                <div class="main-content-type">
                    <a href="/">Читать БИБОРАН</a>
                </div>
                <div class="main-content-type">
                    <a href="/">Галерея</a>
                </div>
                <div class="main-content-type">
                    <a href="/">Адепты</a>
                </div>
        </div>
            <main-content></main-content>
        </div>
    </div>
</template>

<script>
    import TopProfile from "./components/TopProfile";
    import MainContent from "./components/MainContent";
    export default {
        name: 'App',
        data() {
            return {

            }},
        components: {
            MainContent,
            TopProfile,
        }
    }
</script>

<style>

</style>
